@model HelloWorld.Models.CreatePostView
@{
    ViewBag.Title = "Создание";
}

<link rel="stylesheet" href="../../../Content/css/create_post.css">
<link rel="stylesheet" href="../../../Content/css/select.css">

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="create-post-form">

        <h4>Заполните поля для создание новой записи в блоге.</h4>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            <strong>Заголовок</strong>

            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", required = "required"} })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <strong>Описание</strong>

            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", required = "required"} })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.DropDownList("CategoryId", (MultiSelectList)Model.TagList, new { multiple = "multiple" })
        @Html.ValidationMessageFor(m => m.SelectedTag)

        <div class="post-create-button">
            <input type="submit" value="Создать">
        </div>

        <div class="back-to-list-button">
            @Html.ActionLink("Назад", "Index")
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
